Repository LSD-Collaboration/Levitated-Sensor-Detector-Experiment, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/analysis-maintainers, @org/instrument-maintainers, @org/paper-leads, @org/data-stewards, @org/infra-team

file structure
  .github/workflows/.gitkeep
  data/manifests/.gitkeep
  data/schemas/.gitkeep
  instrument/.gitkeep
  papers/axion-search-2025/.gitkeep
  projects/experiment-2025a/.gitkeep
  software/analysis-pipeline/src/analysis_pipeline/.gitkeep
  software/analysis-pipeline/tests/.gitkeep
Owners: @org/infra-team, @org/data-stewards, @org/instrument-maintainers, @org/paper-leads, @org/analysis-maintainers

fix
  papers/axion-search-2025/.gitkeep
Owners: @org/paper-leads

manifest configs
  .github/workflows/ci-analysis.yml
  .github/workflows/ci-data.yml
  data/manifests/manifest.shema.json
  software/analysis-pipeline/src/analysis_pipeline/pyproject.toml
Owners: @org/infra-team, @org/data-stewards, @org/analysis-maintainers

onboarding prep
  .gitignore
  data/manifests/examples.json
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  scripts/bootstrap.ps1
  software/analysis-pipeline/pyproject.toml
  software/analysis-pipeline/src/analysis_pipeline/__init__.py
  software/analysis-pipeline/tests/test_import.py
Owners: @org/data-stewards, @org/analysis-maintainers

warning fix
  .vscode/settings.json
Owners: none

ci updates
  .github/workflows/ci-data.yml
  .github/workflows/ci.yml
  data/schemas/manifest.schema.json
  scripts/bootstrap.ps1
  scripts/validate_manifest.py
Owners: @org/infra-team, @org/data-stewards

test update
  software/analysis-pipeline/pyproject.toml
Owners: @org/analysis-maintainers

py version bug
  .github/workflows/ci-analysis.yml
Owners: @org/infra-team

bootstrap update
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/bootstrap.ps1
  scripts/validate_manifest.py
  software/analysis-pipeline/pyproject.toml
  software/analysis-pipeline/tests/test_import.py
Owners: @org/infra-team, @org/analysis-maintainers

VS Code: use .venv, enable pytest, set PYTHONPATH
  .env
  .vscode/settings.json
Owners: none

Enable Dependabot for GitHub Actions (weekly)
  .github/dependabot.yml
Owners: @org/infra-team

Add detect-secrets baseline
  .pre-commit-config.yaml
  .secrets.baseline
Owners: none

blanket update
  .env
  .github/release-analysis-pipeline.yml
  .github/weekly-lock-update.yml
  .github/workflows/.gitkeep
  .gitignore
  README.md
  data/manifests/.gitkeep
  data/manifests/manifest.shema.json
  data/schemas/.gitkeep
  instrument/.gitkeep
  projects/experiment-2025a/.gitkeep
  scripts/bootstrap.ps1
  software/analysis-pipeline/src/analysis_pipeline/.gitkeep
  software/analysis-pipeline/tests/.gitkeep
Owners: @org/infra-team, @org/data-stewards, @org/instrument-maintainers, @org/analysis-maintainers

move shema
  data/schemas/manifest.shema.json
Owners: @org/data-stewards

Add pytest-cov and mypy to dev deps
  .github/workflows/ci.yml
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
Owners: @org/infra-team

templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/pull_request_template.md
  .pre-commit-config.yaml
  scripts/sha256.py
  software/analysis-pipeline/tests/test_import.py
Owners: @org/infra-team, @org/analysis-maintainers

Create Contributing.md
  docs/Contributing.md
Owners: none

Create tdms_tools_guide.md
  docs/tdms_tools_guide.md
Owners: none

Create tdms_tools
  software/analysis-pipeline/src/analysis_pipeline/tdms_tools.py
Owners: @org/analysis-maintainers

update requirements
  requirements-dev.in
  requirements.in
Owners: none

Update locked dependencies
  requirements.txt
Owners: none

req add
  requirements-dev.txt
Owners: none

tdms_tools_ex
  projects/sample project code/tdms_tools_ex.ipynb
  pyproject.toml
Owners: none

added WIP cooling analysis
  projects/Shelby_cooling_analysis/analysis_functions.py
  projects/Shelby_cooling_analysis/tdms_analyzer_SK.py
  software/analysis-pipeline/src/analysis_pipeline/tdms_tools.py
Owners: @org/analysis-maintainers

test
  .pre-commit-config.yaml
  projects/Shelby_cooling_analysis/tdms_analyzer_SK.py
  projects/sample project code/tdms_tools_ex.ipynb
Owners: none

analyser fixes
  projects/Shelby_cooling_analysis/tdms_analyzer_SK.py
Owners: none

Update bootstrap.ps1
  scripts/bootstrap.ps1
Owners: none

.github/CODEOWNERS:

# Code Owners

## Analysis Python package

/software/analysis-pipeline/   @org/analysis-maintainers

## LabVIEW & drivers

/instrument/                   @org/instrument-maintainers

## Papers (LaTeX, figure scripts)

/papers/                       @org/paper-leads

## Data contracts (schemas, manifests)

/data/                         @org/data-stewards

## CI & org-wide config

/.github/                      @org/infra-team
